<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>

<body>
    <h2>登录</h2>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <form action="/login" method="POST">
        <label for="username">用户名:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">密码:</label>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="登录">
    </form>

    <!-- 添加跳转到注册页面的链接 -->
    <p>还没有账号？<a href="/register">点击这里注册</a></p>

    <!-- 或者添加跳转到注册页面的按钮 -->
    <!-- <input type="button" value="注册新账号" onclick="window.location.href='/register';"> -->
</body>

</html>